
/***############### Base reset and generic styles for print ***/
/*Enable background-colors and background-images on (most) browsers. */
* { -webkit-print-color-adjust: exact !important; /* Chrome, Safari */ color-adjust: exact !important; /* Firefox */ }

.noprint { display: none; }
/***########## End of General Reset and Setup ****/



/***############### Website Specific Styles. ***/

@media only print and (min-width: 482px) {
    .site-branding { display: block; padding: 20px; }
    header.site-header { padding-top: calc(0.75 * var(--global--spacing-vertical)); }
}
