
/***############### Base reset and generic styles for print ***/
/*Enable background-colors and background-images on (most) browsers. */
* { -webkit-print-color-adjust: exact !important; /* Chrome, Safari */ color-adjust: exact !important; /* Firefox */ }

.noprint { display: none; }
/***########## End of General Reset and Setup ****/



/***############### Website Specific Styles. ***/

/* Prevent mid-item splitting onto two pages if possible */
.woocommerce ul.products li.product { display: block; }
.add_to_cart_button { break-inside: avoid; page-break-inside: avoid; /*Older version*/ }

html h2, 
html .h2 { font-size: var(--heading--font-size-h2); }
html h3,
html .h3 { font-size: var(--heading--font-size-h3); }
html h4, 
html .h4 { font-size: var(--heading--font-size-h4); }

html a[href^="http"]::after { content: ""; }


/*Footer*/
nav.footer-navigation { display: block !important; }



@media only print and (min-width: 482px) {
    .site-branding { display: block; padding: 20px; margin-left: 40px; }
    header.site-header { padding-top: calc(0.75 * var(--global--spacing-vertical)); padding-bottom: calc(3 * var(--global--spacing-vertical)); }
    
    /*Nav*/
    nav.primary-navigation { display: block !important; }
    div.menu-button-container { display: none; }
    .primary-navigation > .primary-menu-container { visibility: visible; opacity: 1; background-color: transparent; }
    
    .primary-navigation a[href^="http"]::after { content: ""; }
    .primary-navigation > .primary-menu-container { position: static; margin-top: 45px; margin-left: 25px; bottom: auto; }
    .primary-navigation > div > .menu-wrapper li { width: auto; }
    .primary-navigation .primary-menu-container > ul > .menu-item > a { padding-left: var(--primary-nav--padding); padding-right: var(--primary-nav--padding); }
    nav.primary-navigation a:link, 
    nav.primary-navigation a:visited, 
    nav.primary-navigation a { font-size: var(--primary-nav--font-size); font-weight: normal; text-decoration: none; }
}



@media only print and (min-width: 668px) {
    .woocommerce ul.products[class*="columns-"] li.product, 
    .woocommerce-page ul.products[class*="columns-"] li.product {
        width: 50% !important;
        padding: 0 2vw 3em 0;
        margin-left: 0;
        margin-right: 0;
    }
}
